<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<h1> Hi, I am <span th:text="${name}"></span></h1>
	<h2> Length of the name is:-  <span th:text="${ #strings.length(name)}"> characters </span></h2>
	<h2> Today's Date is <span th:text="${currentdate}"></span></h2>
	
	<h1>-------------------------------------------------------------------------------------------</h1>
	
	<div th:with="a=5,b=6,c=${name}">
	<h1><span th:text="${name}"></span> has got a sum of <span th:text="${a+b}"></span> where a and b are local variables inside div</h1>
	</div>
	
	
</body>
</html>