<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<h1>Condition Handler</h1>
	<h3>1.) Elvis Operator</h3>
	<h2>User is <span th:text="${isActive} ? 'Active': 'InActive'"></span></h2>
	
	<h3>2.) If Unless Operator</h3>
	
	<h2> User is <span th:if="${gender} == 'm'" > Male </span></h2>
	<h2> Unless works like else <span th:unless="${gender} == 'f'" > operator </span></h2>
	
	
	<h3>3.) Switch Operator</h3>
	<div th:switch="${#lists.size(mylist)}">
	<h1 th:case="'1'">List contains 1</h1>
	<h1 th:case="'2'">List contains 2</h1>
	<h1 th:case="'3'">List contains 3</h1>
	<h1 th:case="'4'">List contains 4</h1>
	<h1 th:case="*">List contains More than 4</h1>
	</div>
</body>
</html>